.sidebar {
  width: 500px;
  background-color: #222;
  color: white;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  flex-shrink: 0;
  height:1250px;
  margin-left: 2px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar p {
  cursor: pointer;
}